<h1>POST Request Received</h1>
<table>
    <thead>
        <tr>
            <th colspan="2">Request Data</th>
        </tr>
    </thead>
    <tbody>
      {{#each dataList}}
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
      {{/each}}
    </tbody>
</table>